[submodule "Parser-BW-AH127C"]
	path = Parser-BW-AH127C
	url = https://github.com/AnnaSpitsina/Parser-BW-AH127C
[submodule "NIR"]
	path = NIR
	url = https://github.com/lch1204/NIR
[submodule "parserUWB"]
	path = parserUWB
	url = https://github.com/lch1204/parserUWB
[submodule "protocol_bort_AUV"]
	path = protocol_bort_AUV
	url = https://github.com/lch1204/protocol_bort_AUV
[submodule "PS_MS5837"]
	path = PS_MS5837
	url = https://github.com/NIKSITAR/PS_MS5837
